.content {
    max-width: 500px;
    margin: auto;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px; height: 70px;
  }
  .column {
    flex: 50%;
    /* padding: 15px; */
    height: 230px; 
  }